@{
    ViewData["Title"] = "Home";
}
@section Styles{
    <link href='@Url.Content("~/css/site.css")' rel="stylesheet">
}

<a href="https://github.com/ElTupac" class="git-link">El Tupac</a>

<h1 class="title">How much you will recommend my pages to a friend?</h1>

<div class="faces-container">
    <div class="container green" id="container-good">
        <img src="~/images/feliz.svg" alt="good" class="face" id="green-face" width="200px">
    </div>
    <div class="container yellow" id="container-soso">
        <img src="~/images/mirando.svg" alt="soso" class="face" id="yellow-face" width="200px">
    </div>
    <div class="container red" id="container-bad">
        <img src="~/images/triste.svg" alt="bad" class="face" id="red-face" width="200px">
    </div>
</div>

<div id="response-container" style="display: none;"></div>

@section Scripts{
    <script src="~/js/site.js"></script>
}