@{
    ViewData["Title"] = "Home";
}

<a href="https://github.com/ElTupac">-El Tupac</a>

<h1 class="title">How much you will recommend my pages to a friend?</h1>

<div class="faces-container">
    <div class="container green">
        <img src="~/images/feliz.svg" alt="good" class="face" id="green-face" width="200px">
    </div>
    <div class="container yellow">
        <img src="~/images/mirando.svg" alt="soso" class="face" id="yellow-face" width="200px">
    </div>
    <div class="container red">
        <img src="~/images/triste.svg" alt="bad" class="face" id="red-face" width="200px">
    </div>
</div>