body, html{
  background-color: black;
}
a.git-link{
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  position: absolute;
  top: 30px;
  left: 20px;
  border: 5px solid transparent;
  border-image: url("../images/title-link.gif") 1% stretch;
  font-weight: 900;
  transition: 0.5s;

  background-image: url("../images/title-link.gif");
  background-repeat: no-repeat;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}
a.git-link:hover{
  padding: 12px 22px;
  top: 29px;
  left: 19px;
  font-size: 22px;
}
h1{
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}
.title{
  position: relative;
  top: 120px;
  font-size: 40px;
}

#green-face{
  filter: invert(56%) sepia(78%) saturate(3606%) hue-rotate(85deg) brightness(125%) contrast(119%);
}

#red-face{
  filter: invert(21%) sepia(99%) saturate(7445%) hue-rotate(0deg) brightness(98%) contrast(115%);
}

#yellow-face{
  filter: invert(97%) sepia(59%) saturate(7500%) hue-rotate(354deg) brightness(105%) contrast(105%);
}
.container{
  margin: 10px 60px;
  border-radius: 15px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  position: relative;
}
.container:hover{
  width: 230px;
}

.red, .green, .yellow{
  transition: 0.5s;
}
.red:hover{
  background-image: url("../images/bad.gif");
}
.green:hover{
  background-image: url("../images/happy.gif");
}
.yellow:hover{
  background-image: url("../images/bored.gif");
}

.face{
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}
.face:hover, .hover{
  transform: scale(1.15);
  opacity: 1;
}

.faces-container{
  position: absolute;
  width: 230px;
  left: 25%;
  top: 300px;
  display: flex;
}

p{
  color: #fff;
  font-family: sans-serif;
}

#text-container{
  position: absolute;
  top: -20px;
  left: 230px;
  width: 100%;
}

#response-container{
  position: absolute;
  top: 70%;
  width: 50%;
  margin: 0 25%;
  color: #fff;
  font-family: sans-serif;
}
#response-container p{
  text-align: center;
  text-decoration: underline;
}
#red{
  background-color: rgba(256, 0, 0, 0.6);
  border: 5px #ff0000 solid;
}
#yellow{
  background-color: rgba(256, 256, 0, 0.6);
  border: 5px #ffff00 solid;
}
#green{
  background-color: rgba(0, 256, 0, 0.6);
  border: 5px #00ff00 solid;
}